<!-- Show Before Acceptance | Sales -->
<div class="buttons">
	<button class="button button-ok" onclick="return openRevision()" >Ajukan Penawaran</button><button class="button button-reject" onclick="return openCancel()">Batal</button>
</div>

<script type="text/javascript">
	function openRevision(){
		document.getElementById("penawaran").style.display="block";
		document.getElementById("reject").style.display="none";
		return false;
	}
	function openCancel(){
		document.getElementById("penawaran").style.display="none";
		document.getElementById("reject").style.display="block";
		return false;
	}
</script>
<!-- Show After Acceptance | All -->
      <!-- <div class="agent-info">
        <img class="profile-user-img img-responsive img-circle" src="{{.BaseURL}}assets/img/user2-160x160.jpg" alt="Kevin Rizkhy">
        <span style="font-weight: bold">Kevin Rizkhy</span><br>
        <span style="color: #7F7F7F;">Sales Representative</span>
    </div> -->
