<form  enctype="multipart/form-data" id="form-work" class="timeline-block" name="form-work" action="/confirmorder/{{Link}}" method="POST">
      <div class="timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>{{DateCreated}}</div>
      <div class="fancy-header">
        <i class="fa fa-clock-o" aria-hidden="true"></i><br>
        PROPOSAL DITERIMA<br>
        Menunggu Konfirmasi Proposal (Sales)
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <h4>Deskripsi</h4>
          <p>
            {{Deskripsi}}
          </p>
          {{FileName}}
          
          <!-- Distributor -->
         {{Button}}
          
        </div>
      </div>
    </form>