{{define "content"}}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" href="{{.BaseURL}}assets/css/style-login.css">

<div id="wrapper" class="container" style="padding-top: 0;">
  <div style="margin: 0 auto;">
    <div class="col-md-12"  style="padding: 2% 0;">
      <h3 class="profile-username text-center">Kirim Campaign</h3>
    </div>
    <p id="errorText" style="color:red;"></p>
    <div>
      <div class="form-group">
        <div class="row">
          <form id="form-work" class="" name="form-work" action="/sendCampaign"  method="POST">
            <div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <label class="control-label" for="district"><span style="color: red;">*</span>Campaign</label>
                <select id="campaignId" name="campaignId" class="form-control select2" style="width: 100%;">
                  {{ range $i := .Campaign }}
                  <option value="{{index $i 0}}" >{{index $i 1}}</option>
                  {{ end }}
                </select>
              </div>
            </div>
              <!-- <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                  <label class="control-label" for="nama_perusahaan"><span style="color: red;">*</span>Subjek Campaign&nbsp&nbsp&nbsp<i id="namaPerusahaanErr" title="Nama perusahaan minimum 3 karakter." class="fa fa-times-circle" style="visibility:hidden;color:red;"></i></label>
                  <input id="subjectCampaign" name="subjectCampaign" class="form-control" placeholder="Subjek Campaign" type="text" required value="{{.nama_perusahaan}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                  <label class="control-label" for="nama_perusahaan"><span style="color: red;">*</span>Pesan Campaign&nbsp&nbsp&nbsp<i id="namaPerusahaanErr" title="Nama perusahaan minimum 3 karakter." class="fa fa-times-circle" style="visibility:hidden;color:red;"></i></label>
                  <textarea name="messageCampaign" id="messageCampaign" placeholder="Isi pesan campaign..."></textarea>
                </div>
              </div> -->
              <div class="col-sm-offset-4 col-sm-4" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="form-group">
                  <input  name="csrf" class="form-control" type="hidden" required value="{{.CSRF}}">
                  <button class="btn btn-primary btn-lg btn-block info">Kirim</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{end}}