{{define "content"}}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" href="{{.BaseURL}}assets/css/style-login.css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel="stylesheet" href="{{.BaseURL}}assets/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="{{.BaseURL}}assets/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{.BaseURL}}assets/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<style type="text/css" media="print">
@page {
  size: auto;   /* auto is the initial value */
  margin: 0;  /* this affects the margin in the printer settings */
}
</style>
<script type="text/javascript">
  $( document ).ready(function() {
    setup();
  });
  function setup(){
    var displayResources = $('#display-resources');
    $.ajax({
      type: "GET",
      url: "{{.BaseURL}}getJSON/listPaymenFinance/all",
      success: function(result)
      {
        $('#example1').DataTable({
          data: result,
          destroy: true,
          responsive: true,
          columns:[{title:"Tanggal Pembayaran"},{title:"Nama Perusahaan"},{title:"Nomor Pembayaran"},{title:"Nomor Tagihan"},{title:"Terbayar"},{title:"Status"},{title:""}]
        });
      }
    });
  }
  function getInvoice(){
    var id = document.getElementById("distributor").value;
    if (id == "all") {
      var link = "{{.BaseURL}}getJSON/listPaymenFinance/"+id
      var displayResources = $('#display-resources');
          $('#example1').DataTable().destroy();
          $('#example1').empty();
      $.ajax({
        type: "GET",
        url: link,
        success: function(result)
        {   
         var invoiceselect = $('#invoice-select');
         var removedropdown = ""
         invoiceselect.html(removedropdown);
         $('#example1').DataTable({
          data: result,
          responsive: true,
          columns:[{title:"Tanggal Pembayaran"},{title:"Nama Perusahaan"},{title:"Nomor Pembayaran"},{title:"Nomor Tagihan"},{title:"Terbayar"},{title:"Status"},{title:""}]
        });
       }
     });
    }else{
      var link = "{{.BaseURL}}getJSON/getInvoice/"+id
      var displayResources = $('#invoice-select');
      $.ajax({
        type: "GET",
        url: link,
        success: function(result)
        {
          var output='<p>Distributor ini belum melakukan pembayaran</p>';
          if(result!=null){
            var output='<select id="invoice" name="invoice" class="form-control select2" onchange="getData()" style="width: 100%;"><option value="-" selected>Pilih Tagihan</option>';
            for(var i = 0; i < result.length;i++){
              output+='<option value="'+result[i][0]+'">'+result[i][1]+'</option>';
            }
            output+="</select>";
            displayResources.html(output);
          }else{
            var output='<select id="invoice" name="invoice" class="form-control select2" onchange="getData()" style="width: 100%;"><option value="-" selected>Pilih Tagihan</option>';
            output+="</select>";
            displayResources.html(output);
          }
        }
      });
    }   
  }    

  function getData() {
    var idInvoice = document.getElementById("invoice").value;
    if (idInvoice != "-") {
      var link = "{{.BaseURL}}getJSON/listPaymenFinance/"+idInvoice
      var displayResources = $('#display-resources');
      $('#example1').DataTable().destroy();
      $('#example1').empty();
      $.ajax({
        type: "GET",
        url: link,
        success: function(result)
        {
          $('#example1').DataTable({
            data: result,
            responsive: true,
            columns:[{title:"Tanggal Pembayaran"},{title:"Nomor Pembayaran"},{title:"Nomor Tagihan"},{title:"Terbayar"},{title:"Status"},{title:""}]
          });
        }
      });
    }
  }
</script>
<div id="wrapper" class="container" style="padding-top: 0;">
  <div style="margin: 0 auto;">
    <div class="col-md-12"  style="padding: 20px 0 0 0;">
      <b><h3 class="profile-username text-center" style="font-size: 25px;">Daftar Penerimaan</h3></b>
      
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-offset-2 col-md-8" style="padding-bottom: 20px;">
          <label class="control-label label-filter" for="district"><span style="color: red;">*</span>Filter</label>
          <select id="distributor" name="distributor" class="form-control select2" onchange="getInvoice()" style="width: 100%;">
            <option value="all" selected>Semua Distributor</option>
            {{ range $i := .Distributor }}
            <option value="{{index $i 0}}" >{{index $i 1}}</option>
            {{ end }}
          </select>
          <div id=invoice-select>
          </div>
        </div>
      </div>
      <div style="padding-right: 25px;">
       <button class="btn btn-primary" style="display: inline-block;border-radius:10px;float: right;" onclick="window.location.href='/paymentclaimfinance'">+ Tambah Penerimaan</button> 
      </div>
      <div class="col-xs-12" style="display: block; width: 100%;padding-top: 10px;" id="list">
        <div class="box">
          <div class="box-body">
            <table id="example1" class="hover table table-bordered table-striped" width="100%">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
