{{define "content"}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" href="{{.BaseURL}}assets/css/style-login.css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<style type="text/css" media="print">
@page {
  size: auto;   /* auto is the initial value */
  margin: 0;  /* this affects the margin in the printer settings */
}
</style>
<script type="text/javascript">
  $( document ).ready(function() {
    setup();
  });
  function setup(){
    var displayResources = $('#display-resources');
    var date = $('#tanggal');
    var outdate = "<p>Laporan Rekap Pemasukan Tanggal <b>2017-10-10</b> - <b>2018-10-10</b></p>"
    date.html(outdate)
    $.ajax({
      type: "GET",
      url: "{{.BaseURL}}getJSON/reportpurchasingfinance/2017-10-10;2018-10-10;all",
      success: function(result)
      {

        var output='<table style="width:100%;"><thead style="position: sticky; background-color: #357ca5; width:100%;color: white; "><td>Tanggal Pembayaran</td><td>Distributor</td><td>Nomor Pembayaran</td><td>Nomor Tagihan</td><td>Terbayar</td></thead>';
        if(result!=null){
          output += "<tbody>";
          for(var i = 0; i < result.length;i++){
            output+="<tr><td style='width:7%;'>"+result[i][0]+"</td><td style='width:7%;'>"+result[i][1]+"</td><td style='width:20%;'>"+result[i][2]+"</td><td style='width:20%;'>"+result[i][3]+"</td>"+"</td><td style='width:20%;'>"+result[i][4]+"</td></tr>";
          }
          output+="</tbody></table>";
          displayResources.html(output);
          displayResources = $('#totalpayment');
          output = ""
          displayResources.html(output);
          displayResources = $('#totalpurchasing');
          output = "<p><b>Total Pemasukan : </b>"+result[result.length-1][5]+"</p>"
          displayResources.html(output);
        }else{
          output+="<tbody><td colspan=5>Tidak ada pemasukan para tanggal ini</td></tbody>"
          output+="</table>";
          displayResources.html(output);
          displayResources.html(output);
          displayResources = $('#totalpayment');
          output = ""
          displayResources.html(output);
          displayResources = $('#totalpurchasing');
          output = ""
          displayResources.html(output);
        }
      }
    });
  }
  function getData(){
      var id = "all"//document.getElementById("filter").value;
      var id1 = document.getElementById("day1").value;
      var id2 = document.getElementById("day2").value;
      var date = $('#tanggal');
      var outdate = "<p>Laporan Rekap Pemasukan Tanggal <b>"+id1+"</b> - <b>"+id2+"</b></p>"
      date.html(outdate)
      var type = id1+";"+id2+";"+id
      var link = "{{.BaseURL}}getJSON/reportpurchasingfinance/"+type
      var displayResources = $('#display-resources');
      $.ajax({
        type: "GET",
        url: link,
        success: function(result)
        {
         var output='<table style="width:100%;"><thead style="position: sticky; background-color: #357ca5; width:100%;color: white; "><td>Tanggal Pembayaran</td><td>Distributor</td><td>Nomor Pembayaran</td><td>Nomor Tagihan</td><td>Terbayar</td></thead>';
         if(result!=null){
          output += "<tbody>";
          for(var i = 0; i < result.length;i++){
            output+="<tr><td style='width:7%;'>"+result[i][0]+"</td><td style='width:7%;'>"+result[i][1]+"</td><td style='width:20%;'>"+result[i][2]+"</td><td style='width:20%;'>"+result[i][3]+"</td>"+"</td><td style='width:20%;'>"+result[i][4]+"</td></tr>";
          }
          output+="</tbody></table>";
          displayResources.html(output);
          displayResources = $('#totalpayment');
          output = ""
          displayResources.html(output);
          displayResources = $('#totalpurchasing');
          output = "<p><b>Total Pemasukan : </b>"+result[result.length-1][5]+"</p>"
          displayResources.html(output);
        }else{
          output+="<tbody><td colspan=5>Tidak ada pemasukan para tanggal ini</td></tbody>"
          output+="</table>";
          displayResources.html(output);
          displayResources = $('#totalpayment');
          output = ""
          displayResources.html(output);
          displayResources = $('#totalpurchasing');
          output = ""
          displayResources.html(output);
        }
      }
    });

    }    
    

  </script>
  <style type="text/css" >
  .edit:hover {
    color: #0a79df;
  }

  .delete:hover {
    color: #dc2a2a;
  }
  #listTab {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  #listTab td, #listTab th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #listTab tr:nth-child(even){background-color: #f2f2f2;}
  #listTab tr:hover {background-color: #aacbff;}
  #listTab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

  #listTab2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  #listTab2 td, #listTab2 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #listTab2 tr:nth-child(even){background-color: #f2f2f2;}
  #listTab2 tr:hover {background-color: #aacbff;}
  #listTab2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }
  div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  @media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
  }
  @media print {
    .btn,#days,#day1,#day2,.label-filter{
      visibility: hidden;
      display:none
    }
    .box.box-primary{
      border-top-color:white;
    }
    #tanggal{
      display: block;
    }
  }
</style>
<script type="text/javascript">
  function cetak(){
    document.getElementById("tanggal").style.display = "block";
    window.print();
    document.getElementById("tanggal").style.display = "none";
  }
</script>
<div id="wrapper" class="container" style="padding-top: 0;">
  <div style="margin: 0 auto;">
      <!-- <div id="popup1" class="overlay" style="position: absolute;">
        <div class="popup">
          <a class="close" href="#" style="color: red;">&times;</a>
          <div id="modal">
            Anda dapat memilih (Ubah / Hapus)
          </div>
        </div>
      </div> -->
      <div class="col-md-12"  style="padding: 20px 0 0 0;">
        <b><h3 class="profile-username text-center" style="font-size: 25px">{{.Title}}</h3></b>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <label class="control-label label-filter" for="district"><span style="color: red;">*</span>Filter</label>
            <!-- <select id="filter" name="filter" class="form-control select2" onchange="getData()" style="width: 100%;">
              <option value="all" selected>Semua</option>
              {{ range $i := .Distributor }}
                  <option value="{{index $i 0}}" >{{index $i 1}}</option>
              {{ end }}
            </select> -->
            <div id=days>
              <input id="day1" onChange="getData()" name="tanggal_lahir" class="form-control" value="2017-10-10" type="date" required value="2017-10-10">
              <input id="day2" onChange="getData()" name="tanggal_lahir" class="form-control" value="2017-10-10" type="date" required value="2018-10-10">
            </div>
          </div>
        </div>
        <br><br>

        <div class="col-md-4 col-md-offset-8" style="overflow: auto; text-align: left; ">
          <div id="tanggal" style="display: none;"></div>
        </div>
        <div class="col-md-12" id="listTab" style="overflow: auto; text-align: center; ">
          <div class="sticky" id="thead">

          </div>
          <div id="display-resources">
          </div>
        </div>
        <br><br>
        <div class="col-md-4 col-md-offset-8" style="overflow: auto; text-align: left;">
          <br><br>
          <div id="totalpayment"></div>
          <div id="totalpurchasing"></div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-primary btn-lg btn-block info" onclick="cetak()">Cetak Laporan</button>
      </div>
      <!-- <div class="form-group">
        <form method="post" action="/printreport">
           <input name="typedata" id="typedata" type="text" style="border: 0 !important; display: none;" required value="year" />
           <input name="day1" id="range1" type="text" style="border: 0 !important; display: none;"  value="" />
           <input name="day2" id="range2" type="text" style="border: 0 !important; display: none;"  value="" />
           <div class="form-group" style="margin-bottom: 20px;">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-primary btn-lg btn-block info">Cetak Laporan</button>
        </div>
      </div>
        </form>
      </div> -->
    </div>
  </div>
  {{end}}